
// text
$text-primary: #2B2B2B
$text-primary-inv: #F2F2F2
$text-primary-disabled: #C4C4C4
$text-pop: #FF5B42

html
  .text-primary
    color: $text-primary !important

  .text-primary-inv
    color: $text-primary-inv !important

  .text-primary-disabled
    color: $text-primary-disabled !important

  .text-pop
    color: $text-pop !important


// background
$bg-primary: #F7F7F7
$bg-primary-inv: #A6A6A6

html
  .bg-primary
    background-color: $bg-primary

  .bg-primary-inv
    background-color: $bg-primary-inv

  .icon-primary
    svg
      fill: $bg-primary

  .icon-primary-inv
    svg
      fill: $bg-primary-inv
