
// text
$text-primary: #2B2B2B
$text-primary-inv: #F2F2F2
$text-primary-disabled: #C4C4C4
$text-pop: #FF5B42

html
  .text-primary
    color: $text-primary !important

  .text-primary-inv
    color: $text-primary-inv !important

  .text-primary-disabled
    color: $text-primary-disabled !important

  .text-pop
    color: $text-pop !important

