@mixin icon-size($size)
  width: $size !important
  height: $size !important

body
  font-family: "Open Sans Condensed", Serif

.icon-sm
  @include icon-size(24px)

.icon-md
  @include icon-size(44px)

.icon-lg
  @include icon-size(68px)

.clickable
  cursor: pointer
