
.status-bar
  width: 150px
  flex-shrink: 0
  flex-grow: 1
  background-color: #F7F7F710
  backdrop-filter: blur(20px)

.page-container
  background-image: url("../assets/place_holder_bg.jpg")
  background-size: cover
